body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}
button {
  width: 10%;
  height: 45px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: blue;
  color: white;
}
button:hover {
  background-color: green;
}
